.section {
    height: min-content;
}

body {
    font-family: "Montserrat";
}


/* navbar */
.active {
    border: 0px;
    background-color: transparent;
    text-decoration: none;
    position: relative;
    color: white;
    text-decoration: none;
}

.active::after {
    position: absolute;
    content: "";
    width: 100%;
    left: -1px;
    height: 3px;
    background-color: white;
    bottom: -5px;
}


/* navbar mobile */
.activeMobile {
    border: 0px;
    background-color: transparent;
    text-decoration: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat-Bold";
    font-weight: bold;
}


/* Hero Section */

.big-heading {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: 700;
}

.container {
    display: block;
    font-family: "arial";
    font-size: 24px;
    text-align: center;
    width: min-content;
}

.typed {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    width: 0;
    animation: typing;
    animation-duration: 2s;
    animation-timing-function: steps(30, end);
    animation-fill-mode: forwards;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%;
        border-right: 0px solid;
    }

}

.title-img {
    width: 95%;
    height: fit-content;
    margin-top: 30px;
}



/* Skills Section*/

.skillContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px 0;
    padding-top: 50px;
}

.skillCard {
    width: 30%;
    padding: 1%;
}


@media only screen and (max-width:1028px) {
    .skillCard {
        width: 40%;
    }
}

@media only screen and (max-width:768px) {
    .skillCard {
        width: 45%;
    }
}

@media only screen and (max-width:460px) {
    .skillCard {
        width: 49%;
    }
}


/* footer */

.socials {
    padding: 2%;
}